<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>
      Hello,<span th:text="${email}"> Peter Static!</span>
    </p>
    <p th:if="${email.length() > 10}">
      Wow! You've got a long name (more than 10 chars)!
    </p>
    <p>
      You have been successfully placed the order</b> on <span th:text="${order.purchaseDate}">28-12-2012</span>
    </p>
    <p>Your Ordered items are:</p>
    <table border="0">
    	<tr>
    		<th><span>Item Name</span></th>
    		<th><span>Quantity</span></th>
    		<th><span>Price</span></th>    		
   		</tr>
   		<tr th:each="item : ${order.items}">
    		<th><span  th:text="${item.itemName}">123</span></th>    		
    		<th><span  th:text="${item.quantity}">10</span></th>
    		<th><span  th:text="${item.itemPurchasedPrice}">123</span></th>
   		</tr>
   		<tr>
    		<th><span>&nbsp;</span></th>
    		<th><span>Total:</span></th>
    		<th>Rs.<span  th:text="${order.totalPrice}">10</span></th>
   		</tr>
    </table>
    
    <p>
      <img src="sample.png" th:src="|cid:${imageResourceName}|" />
    </p>
    <p>
      Regards, <br />
      <em>Pachakari Team</em>
    </p>
  </body>
</html>