<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p th:text="#{greeting(${email})}">
      Hello, Peter Static!
    </p>
    <p th:if="${email.length() > 10}">
      Wow! You've got a long name (more than 10 chars)!
    </p>
    <p>
      You have been successfully placed the order</b> on <span th:text="${order.purchaseDate}">28-12-2012</span>
    </p>
    <p>Your Ordered items are:</p>
    <ul th:each="item : ${order.items}">
      	<li>
      		<span  th:text="${item.itemId}">123</span>
      		<span  th:text="${item.itemPurchasedPrice}">123</span>
      		<span  th:text="${item.quantity}">10</span>
      	</li>
      </li>
    </ul>
    <p>
      You can find <b>your inlined image</b> just below this text.
    </p>
    <p>
      <img src="sample.png" th:src="|cid:${imageResourceName}|" />
    </p>
    <p>
      Regards, <br />
      <em>The Thymeleaf Team</em>
    </p>
  </body>
</html>